footer {
    background-color: #F5F5F5;
    padding: 50px 0;
}

footer .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width: 899px) {
    footer{
        padding:40px 0px;
    }
    footer .nav {
        display: none;
    }
    footer .inner {
        justify-content: center;
        text-align: center;
    }
}