.SearchAndWrite {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 30px 0;
}

.SearchAndWrite > div {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.SearchAndWrite .center {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    width: 440px;
    height: 40px;
}

.SearchAndWrite .right {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: end;
    width: 440px;
    height: 40px;
}
.SearchAndWrite .right .BasicNesBtn{
    margin-top: 3px;
    height: 100%;
    font-size: 2em;
}

.SearchAndWrite .left {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: start;
    width: 440px;
    height: 40px;
}
.SearchAndWrite .left .BasicNesBtn{
    margin-top: 3px;
    height: 100%;
    font-size: 2em;
}