.visual {
    height: 644px;
    background-color: gray;
    position: relative;
}

.visu_txt {
    position: absolute;
    top: 0;
    left: calc(50% + 40px);
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.sub_txt {
    margin: 16px 0;
}

@media screen and (max-width: 899px) {
    .visual {
        height: calc(100vh - 57px);
    }

    .visu_txt {
        justify-content: flex-end;
        padding-bottom: 75px;
    }
}
@media screen and (max-width:1199px){
    .visu_txt{
      position:static;
      top:auto;
      left:auto;
      align-items: center;
      margin:auto;
      text-align: center;
    }
}